<div class="row">
  <div class="col-md-12">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="first_name">Username</label>
          <input id="first_name" type="text" class="form-control" [formControl]="myForm.controls['username']">
        <small *ngIf="myForm.controls.username.hasError('required')" class="text-danger clearfix">Required.</small>
      </div>
      </div>
      </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="email">Email</label>
        <input id="email" type="text" class="form-control" [formControl]="myForm.controls['email']" #email="ngForm">
        <div *ngIf="email.errors?.noEmail">
          <small *ngIf="myForm.controls.email.hasError('required')" class="text-danger clearfix">Required.</small>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="password">Password</label>
        <input id="password" type="password" class="form-control" [formControl]="myForm.controls['password']">
          <small *ngIf="myForm.controls.password.hasError('required')" class="text-danger clearfix">Required.</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="confirm-password">Confirm-Password</label>
        <input id="confirm-password" type="password" class="form-control" [formControl]="myForm.controls['confirmpassword']" #confirmPassword = "ngForm">
          <small *ngIf="myForm.controls.confirmpassword.hasError('required')" class="text-danger clearfix">Required.</small>
          <small class="text-danger clearfix" *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</small>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <button type="submit" class="btn btn-success" [disabled]="!myForm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
      </div>

