<div class="row">
  <div class="col-xs-12">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-xs-12">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="text" class="form-control"
          formControlName="email">
        <small *ngIf="userForm.controls.email.hasError('required')" class="text-danger clearfix">Required.</small>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            formControlName="password">
          <small *ngIf="userForm.controls.password.hasError('required')" class="text-danger clearfix">Required.</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
      <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Submit</button>
    </div>
    </div>
  </form>
  </div>
</div>

