body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.label a, .badge a {
	color: white;
}

.margin-top-5 {
  margin-top: 5px;
}

.labelcursor {
  cursor: pointer;
  margin: 2px;
}
