<div class="row">
  <div *ngFor="let artist of artistDetails.artists">
    <div class="page-header"><h1>{{artist.name}}</h1></div>
    <div class="container">
      <div class="row">
      <div class="col-xs-12 col-md-3">
        <img src="{{artist.image}}" class="img-responsive img-thumbnail" alt="artist.name">
        <div class="clearfix"></div>
        <span
          class="label label-primary labelcursor"
          *ngFor="let genre of artist.genre"
          [routerLink]="['/genre',genre.id]">
          {{genre.name}}
        </span>
      </div>
      <div class="col-xs-12 col-md-8">
        <span>{{artist.bio}}</span>
      </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-9 col-md-offset-3">
          <hr>
          <div *ngFor="let soundtracks of artist.soundtrack">
            <span>
            <a  href="javascript:void(0)" class="plManager" data-action="add" [attr.data-song]="soundtracks.id"  [attr.data-mp3]="soundtracks.path" [attr.data-title]="soundtracks.soundtrack" [attr.data-artist]="artist.name" [attr.data-cover]="artist.image" [attr.data-id]="soundtracks.id">{{soundtracks.soundtrack}}</a>
            </span>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
