<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/']">Music App</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/browseartists']">Artists</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/genres']">Genre</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/top10']">Top 10</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isAuth()" routerLinkActive="active"><a [routerLink]="['/login']">Login</a></li>
        <li *ngIf="!isAuth()" routerLinkActive="active"><a [routerLink]="['/signup']">Register</a></li>
        <li *ngIf="isAdmin() && isAuth()" routerLinkActive="active"><a [routerLink]="['/admin']">Admin Panel</a></li>
        <li *ngIf="isAuth()"><a (click)="logout()" style="cursor: pointer;">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
